#topbar
{
background-color:black;
height:10px;
width:100%;
}
#container
{
width:70%;
margin:0px auto;
}
#header
{
height:80px;
background-color:#FEFEFE;
}
#header img
{
height:80px;
}
#header ul
{
float:right;
}
#header ul li
{
display:inline;
margin-right:15px;
}
#header ul li a
{
color:grey;
text-decoration:none;
font-size:18px;
}
#banner img
{
width:100%;
padding-bottom:20px;
}
#content1
{
width:32%;
height:350px;
background-color:#F86900;
float:left;
margin-right:2%;
}
#content2
{
width:32%;
height:350px;
background-color:#0A8F5F;
float:left;
}
#content3
{
width:32%;
height:350px;
background-color:#A2C511;
float:right;
}
.heading1
{
color:white;
margin-left:20px;
font-size:28px;
}
.para1
{
color:white;
margin-left:20px;
margin-right:8px;
}
.more
{
text-decoration:none;
color:black;
background-color:white;
margin-left:20px;
padding:8px;
}
#bottom1
{
margin-top:15px;
width:60%;
height:300px;
float:left;
}
#bottom2
{
margin-top:15px;
width:40%;
float:right;
}
#bottom1 h2
{
margin-left:20px;
color:black;
}
#bottom1 p
{
margin-left:20px;
margin-right:8px;
color:black;
}
#bottom1 a
{
margin-left:20px;
color-orange;
}
#bott
{
background-color:black;
height:50px;
width:100%;
margin-bottom:20px;
clear:both;
}
#bott p
{
color:white;
float:right;
margin-right:20px;
}






